{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
  <strong>Olá, {{ user.name }}</strong>
  <p>Inicie veja sua agenda abaixo:</p>

  <ul class="providers">
    {% for appointment in myAppointments %}
      <li class="provider">
        <div>
          <img src="/files/{{ appointment.User.avatar }}" />
          <strong>{{ appointment.user.name }} <br> {{ appointment.dateResolved }}</strong>

        </div>
        <a href="/app/appointments/new/{{provider.id}}">Desmarcar</a>
      </li>
    {% endfor %}
  </ul>
   <a href="/app/logout" class="logout">Sair</href>
  </div>

{% endblock %}
